<!DOCTYPE HTML>
<html>
<head>
    <title> 事件 </title>
    <meta charset="utf-8">
    <script src="http://www.hubwiz.com/scripts/angular.min.js"></script>
</head>
<body>

1.点击事件
<div ng-app="" ng-init="click=false">
    <button ng-click="click= !click">隐藏/显示</button>
    <div ng-hide="click">
    <p>请输入一个名字：<input type="text" ng-model="name"></p>
    <p>Hello <span ng-bind="name"></span> </p>
    </div>
</div>

<textarea rows="20" cols="100">

1.点击事件
<div ng-app="" ng-init="click=false">
    <button ng-click="click= !click">隐藏/显示</button>
    <div ng-hide="click">
    <p>请输入一个名字：<input type="text" ng-model="name"></p>
    <p>Hello <span ng-bind="name"></span> </p>
    </div>
</div>




</textarea>

</body>
</html>
